html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav{
    background-color: darkred;
    padding: 10px;
    margin-bottom: 1px;
}
.nav > h1{
    margin: 0px 40px;
    color: whitesmoke;
    text-align: right;
}
.btnDiv{
    display: flex;
    justify-content: center;
}
.btn{
    background-color:cadetblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 20px 40px;
    margin-left: 0px;
    margin-right: 10px;
}
.btn:hover{
    background-color: aqua;
    color: black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container{
    display: grid;
    margin: 20px auto;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;

}
.square{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: inline-block;
}



